<footer>
  <div class='footer'>
    <form class='contact-form' action="https://getsimpleform.com/messages?form_api_token=28b9c2cb8b4313a26a540e5a510b40cb" method="post">
      <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
      <!-- #2 -->
      <input type='hidden' name='redirect_to' value='http://{username}.github.io/thank-you' />
      <input type='text' name='name' placeholder='Your Full Name' />
      <input type='email' name='email' placeholder='Your E-mail Address' />
      <textarea name='message' placeholder='Write your message ...'></textarea>
      <input type='submit' value='Send Message' />
    </form>
  </div>
</footer>
